#main{
  display: flex;
  margin: 5vh 10vw 0 10vw;
  font-family: "Cinzel";
}

html{
  background-color: #F4FFFE;
}
#week{
  display: block;
  margin: auto;
  padding-top: 80px;
  margin-left: 43.1vw;
  margin-bottom: 1vh;
}

.day{
  flex-grow: 1;
  width: auto;
  border: 0.5px solid black;
  border-top: none;
  border-bottom: none;
  background-color: #037D6F;
  color: white;
}

#quote, #quote1, #quote2, #quote3, #quote4, #quote5, #quote6{
margin-left: -15vw;
font-size: 15px;
}

h4{
  font-family: "Source Serif Pro";
}

#dayheader, #dayheader1, #dayheader2, #dayheader3, #dayheader4, #dayheader5, #dayheader6{
  display: block;
  margin: auto;
  color: #6CAD8E;
  font-size: 27px;
  margin-left: -15vw;
  margin-top: -9vh;
}

h3, h4{
  text-align: center;
  margin-left: -16vw;
}

h3{
  color: #075932;
  font-size: 22px;
  margin-bottom: 2vh;
  font-family: "Cinzel";
}

#musicvideo{
  display: block;
  margin-left: -0.75vw;
}

#questions{
  display: block;
  margin: auto;
  margin-left: 15vw;
  font-family: "Cinzel";
}
#mondayday, #tuesdayday, #wednesdayday, #thursdayday, #fridayday, #saturdayday{
display: none;
}

#video{
  margin-top: 1vh;
  display: block;
  margin-left: 40.3vw;
  height: auto;
  width: auto;

}
.dayday {
  flex-grow: 1;
  width: auto;
  max-width: 50%;
}

form{
  margin-left: 30vw;
}
h2{
  margin-top: 20px;
  padding-bottom: 0;
  font-size: 20px;
  text-align: center;
  font-family: "Cinzel";
}

h1{
  font-family: "Cinzel Decorative";
  margin-top: 2vh;
  margin-left: 35vw;
  color: #2A968F;
  font-size: 35px;
}

button{
  margin-top: 3vh;
  margin-left: 32.5vw;
}
