/* highlight comment and press command and slash and you get it */
/*this is a comment*/

h1{
  font-size: 30px;
}


#top h1{
  color:green;
  border:solid 1px white;
}

#input h1{
  color:orange;
}
#top{
  background-color: yellow;
  font-family: helvetica;
}
  ul{
    color:#fc03b1;
    font-family: arial;
    font-weight: 600;
  }

  img{
    width:10vw;
    margin:10px;
  }

  form{
    margin-left:20px;
  }
