body{
  font-family: arial;
  font-size: 2vw;
  font-weight: 100;
}

p{
  font-size: 20px;
}

hr{
  border-style: dashed;
}

h1{
  background-color: pink;
  margin-left: 25px;
  font-family: "Gluten";
}

.grey{
  color: rgb(100, 100, 100);
}

.background{
  background-color: rgb(225, 225, 225);
}

span{
  color: blue;
  font-weight: bold;
}

#sit{
  font-family: cursive;
}

#two{
  border: solid;
  background-color: orange;
  /*padding: top right bottom left; */
  padding: 30px 0px 30px 0px;
  margin: 0px 30px 0px 30px;
}

section{
  border: solid black 1px;
  margin: 10px;
}

/*margin: 50px;
padding: 150px;*/

/*<hr> is for a line*/

#hero{
  width: 10vw;
  margin: 10px;
  padding: 0px;
  height: 30vh;
  position: relative;
  overflow: hidden;
}

#header h2{
  position: absolute;
  width: 100px;
  height: 100px;
}
